
<div style="text-align:center;">
<webcam [height]="400" 
        [width]="1000" 
        [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)">
 </webcam>
<br>
 <button class="actionBtn"  (click)="uploadaudio();">
  Click Here and take the Shot</button>

<div class="snapshot" *ngIf="webcamImage">
<h2>Here is your image!</h2>
<img name="image" [src]="webcamImage.imageAsDataUrl"/>

</div>

<div style="text-align:center;margin-top: 200px;" >
  <button (click)="initiateRecording()" *ngIf="!recording" > Start Recording </button>
  <button (click)="stopRecording()" *ngIf="recording" > Stop Recording </button>
  <audio controls="" *ngIf="url">
  <source [src]="sanitize(url)" type="audio/wav">
  </audio>
  </div>